:root {
    /* primary colors */
    --primary80: hsl(46, 77%, 80%); 
    --primary60: hsl(45, 76%, 60%);
    --primary40: hsl(43, 76%, 40%);  
    --primary10: hsl(43, 72%, 19%);
    
    /* accent colors */
    --accent100:hsl(20, 56%, 97%);
    --accent40:hsl(0, 59%, 31%);
    --accent30:hsl(0, 59%, 21%);
    --accent10:hsl(20, 56%, 10%); 
}

body {
    font-family: 'Source Serif 4', serif;
    background-color: var(--accent100);
}

img[src="images/golden_snitch.png"] {
    width: 6em;
    height:3em;
}
h1 {
    font-family: 'Merienda';
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: var(--primary40);
}

h2, h3 {
    font-family: 'Merienda';
}

.nav, .breadcrumb {
    justify-content: center;
}

.nav {
    justify-content: space-around;
}

.nav-link {
    color: var(--primary60);
    font-size: 24px;
}

.most_popular_heading {
    color: var(--primary40);
}

.card {
    background-color: var(--accent100);
}

.card > img {
   height: 400px;
   width: 263px;
   border-radius: 10px;
}

.card > ul {
    font-size: 16px;
    color: var(--primary40);
    list-style-type: none;
    padding: 0%;
    margin: 0px;
}
p {
    text-indent: 20px;
    line-height: 190%;
}

#homepage {
    color: var(--accent40);
    background-color: var(--primary80);
    width:fit-content;
    border-radius: 10px;
}

h3 {
    font-family: "Merienda";
    font-size: 18px;
}

.breadcrumb-item.active {
    color: var(--primary40); 
}

.breadcrumb-item {
    color: var(--primary60); 
    font-size: 18px;
}

img[src="images/field.jpg"] {
    width: 35em;
    height:20em;
    border-radius:20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.login-form {
    background-color: var(--primary80);
    width: 396px;
    height: 23em;
    border-radius: 20px;
}

.login, .button-primary {
    border-radius: 19px;
    width: 364px;
    height: 52px;
}

.button-primary {
    background-color: var(--accent30);
    color: var(--accent100);
    font-family: "Merienda";
    font-size: 24px;
}

.button-secondary {
    border-radius: 19px;
    background-color: var(--accent100);
    width: 195px;
    height: 50px;
    color: var(--accent30);
    font-family: "Merienda";
    font-size: 14px;
}

/* this is not working here */
.navbar-nav .nav-item:hover {
    color: red
}